.slider-sobre {
	background-image: url(../img/bg_sobre.jpg);
	width: 100%;
	height: 765px;
	background-position: top center;
}

.detalhe-slider-sobre {
	width: 285px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 650px;
}

.slider-sobre h1 {
	color: white;
	font-size: 48px;
	text-transform: uppercase;
	font-size: 'roboto-light';
}
.slider-sobre h1 span {
	font-size: 60px;
	font-family: 'roboto-black';
	text-transform: none;
}
.slider-sobre p {
	text-align: right;
	color: white;
	font-size: 24px;
}
.slider-sobre hr {
	background-color: white;
	height: 3px;
	width: 30%;
	text-align: right;
	margin-left: 200px;
	margin-top: -10px !important;
	margin-bottom: 0px !important;
}


.sobre-mim {
	width: 100%;
	background-color: white;
	padding: 54px 0;
}
.sobre-mim h1 {
	font-size: 36px;
	color: #333;
	font-family: 'roboto-black';
	text-align: center;
	text-transform: uppercase;
}

.item-sobre{
	text-align: center;
	padding: 120px 0;
}
.item-sobre h3 {
	font-size: 24px;
	color: black;
	font-family: 'roboto-black';
	text-transform: uppercase;
}
.item-sobre p {
	font-size: 24px;
	color: #808080;
	font-family: 'roboto-medium';
}

.sobre-left-p {
	font-family: 'roboto-bold';
	color: black;
	font-size: 18px;
}
.sobre-right-p p {
	font-family: 'roboto-regular';
	color: #808080;
	font-size: 18px;
	padding-bottom: 60px;
}

.btn-sobre-mim a {
	font-size: 18px;
	font-family: 'roboto-medium';
	color: var(--cor-vermelho);
	border: 2px solid var(--cor-vermelho);
	padding: 20px 50px;
}
.btn-sobre-mim a:hover {
	color: white;
	background-color: var(--cor-vermelho);
	transition: .3s linear;
	text-decoration: none;
}
.btn-sobre-mim img {
	margin-left: -40px;
	border: none;
}


.trabalhos {
	padding: 54px 0;
	background-color: #efefef;
}
.trabalhos h1 {
	font-size: 36px;
	font-family: 'roboto-black';
	text-align: center;
	text-transform: uppercase;
}

.info {
	padding: 60px 0;
	background-color: white;
}
.info h1 {
	font-size: 36px;
	font-family: 'roboto-black';
	text-align: center;
	text-transform: uppercase;
	color: #333
}
.info h3, .info h4 {
	text-align: center;
	font-family: 'roboto-black';
	font-size: 24px;
	text-transform: uppercase;
}
.info-grupo {
	padding: 60px 0;
}

.info ul {
	text-align: center;
}
.info ul li {
	list-style: none;
	display: inline;
	padding-left: 25px;
	padding-right: 25px;
}
.info ul li a {
	font-size: 30px;
	color: black;
}
.info ul li a:hover {
	color: var(--cor-vermelho);
	transition: .3s linear;
}

@media screen and (max-width: 760px) {
	.sobre-mim h1 {
		padding-bottom: 40px;
	}
	.item-sobre {
		padding: 40px 0;
	}
}